@media screen and (min-width: 1400px){
  header{
    padding: 0 72px;

}
  .slider1 {
    .swiper {
      .swiper-slide {
        .body {
        }
        .images {
          padding: 0 186px 44px 0;

        }
        .title {
          padding: 0 0 130px 234px;
          line-height: 96px;
          }
        }
      }

    }
  }